@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
}
@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue/BebasNeue.eot");
  src: url("../fonts/BebasNeue/BebasNeue?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeue.woff") format("woff"), url("../fonts/BebasNeue/BebasNeue.ttf") format("truetype");
}
@font-face {
  font-family: 'Lobster';
  src: url("../fonts/Lobster/Lobster1.4.eot");
  src: url("../fonts/Lobster/Lobster1.4.?#iefix") format("embedded-opentype"), url("../fonts/Lobster/Lobster1.4.woff") format("woff"), url("../fonts/Lobster/Lobster1.4.ttf") format("truetype");
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSansRegular/OpenSans-Regular?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSans-Regular.ttf") format("truetype");
}
/* line 1, ../sass/layout/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  /* line 8, ../sass/layout/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 13, ../sass/layout/_grid.scss */
  .container {
    width: 970px;
  }
}
/* line 17, ../sass/layout/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 23, ../sass/layout/_grid.scss */
.row {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 27, ../sass/layout/_grid.scss */
.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}

/* line 33, ../sass/layout/_grid.scss */
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 36, ../sass/layout/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 39, ../sass/layout/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 42, ../sass/layout/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 45, ../sass/layout/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 48, ../sass/layout/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 51, ../sass/layout/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 54, ../sass/layout/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 57, ../sass/layout/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 60, ../sass/layout/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 63, ../sass/layout/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 66, ../sass/layout/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 69, ../sass/layout/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 72, ../sass/layout/_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 75, ../sass/layout/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 78, ../sass/layout/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 81, ../sass/layout/_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 84, ../sass/layout/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 87, ../sass/layout/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 90, ../sass/layout/_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 93, ../sass/layout/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 96, ../sass/layout/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 99, ../sass/layout/_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 102, ../sass/layout/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 105, ../sass/layout/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 108, ../sass/layout/_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 111, ../sass/layout/_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 114, ../sass/layout/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 117, ../sass/layout/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 120, ../sass/layout/_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 123, ../sass/layout/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 126, ../sass/layout/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 129, ../sass/layout/_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 132, ../sass/layout/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 135, ../sass/layout/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 138, ../sass/layout/_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 141, ../sass/layout/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 144, ../sass/layout/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 147, ../sass/layout/_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 150, ../sass/layout/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 153, ../sass/layout/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 156, ../sass/layout/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 159, ../sass/layout/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 162, ../sass/layout/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 165, ../sass/layout/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 168, ../sass/layout/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 171, ../sass/layout/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 174, ../sass/layout/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 177, ../sass/layout/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 180, ../sass/layout/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 183, ../sass/layout/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 186, ../sass/layout/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  /* line 190, ../sass/layout/_grid.scss */
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 193, ../sass/layout/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 196, ../sass/layout/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 199, ../sass/layout/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 202, ../sass/layout/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 205, ../sass/layout/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 208, ../sass/layout/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 211, ../sass/layout/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 214, ../sass/layout/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 217, ../sass/layout/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 220, ../sass/layout/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 223, ../sass/layout/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 226, ../sass/layout/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 229, ../sass/layout/_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 232, ../sass/layout/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 235, ../sass/layout/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 238, ../sass/layout/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 241, ../sass/layout/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 244, ../sass/layout/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 247, ../sass/layout/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 250, ../sass/layout/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 253, ../sass/layout/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 256, ../sass/layout/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 259, ../sass/layout/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 262, ../sass/layout/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 265, ../sass/layout/_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 268, ../sass/layout/_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 271, ../sass/layout/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 274, ../sass/layout/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 277, ../sass/layout/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 280, ../sass/layout/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 283, ../sass/layout/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 286, ../sass/layout/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 289, ../sass/layout/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 292, ../sass/layout/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 295, ../sass/layout/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 298, ../sass/layout/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 301, ../sass/layout/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 304, ../sass/layout/_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 307, ../sass/layout/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 310, ../sass/layout/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 313, ../sass/layout/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 316, ../sass/layout/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 319, ../sass/layout/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 322, ../sass/layout/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 325, ../sass/layout/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 328, ../sass/layout/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 331, ../sass/layout/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 334, ../sass/layout/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 337, ../sass/layout/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 340, ../sass/layout/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 343, ../sass/layout/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  /* line 348, ../sass/layout/_grid.scss */
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 351, ../sass/layout/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 354, ../sass/layout/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 357, ../sass/layout/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 360, ../sass/layout/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 363, ../sass/layout/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 366, ../sass/layout/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 369, ../sass/layout/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 372, ../sass/layout/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 375, ../sass/layout/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 378, ../sass/layout/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 381, ../sass/layout/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 384, ../sass/layout/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 387, ../sass/layout/_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 390, ../sass/layout/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 393, ../sass/layout/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 396, ../sass/layout/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 399, ../sass/layout/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 402, ../sass/layout/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 405, ../sass/layout/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 408, ../sass/layout/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 411, ../sass/layout/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 414, ../sass/layout/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 417, ../sass/layout/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 420, ../sass/layout/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 423, ../sass/layout/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 426, ../sass/layout/_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 429, ../sass/layout/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 432, ../sass/layout/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 435, ../sass/layout/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 438, ../sass/layout/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 441, ../sass/layout/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 444, ../sass/layout/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 447, ../sass/layout/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 450, ../sass/layout/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 453, ../sass/layout/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 456, ../sass/layout/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 459, ../sass/layout/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 462, ../sass/layout/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 465, ../sass/layout/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 468, ../sass/layout/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 471, ../sass/layout/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 474, ../sass/layout/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 477, ../sass/layout/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 480, ../sass/layout/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 483, ../sass/layout/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 486, ../sass/layout/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 489, ../sass/layout/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 492, ../sass/layout/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 495, ../sass/layout/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 498, ../sass/layout/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 501, ../sass/layout/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  /* line 506, ../sass/layout/_grid.scss */
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 509, ../sass/layout/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 512, ../sass/layout/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 515, ../sass/layout/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 518, ../sass/layout/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 521, ../sass/layout/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 524, ../sass/layout/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 527, ../sass/layout/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 530, ../sass/layout/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 533, ../sass/layout/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 536, ../sass/layout/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 539, ../sass/layout/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 542, ../sass/layout/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 545, ../sass/layout/_grid.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 548, ../sass/layout/_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 551, ../sass/layout/_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 554, ../sass/layout/_grid.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 557, ../sass/layout/_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 560, ../sass/layout/_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 563, ../sass/layout/_grid.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 566, ../sass/layout/_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 569, ../sass/layout/_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 572, ../sass/layout/_grid.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 575, ../sass/layout/_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 578, ../sass/layout/_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 581, ../sass/layout/_grid.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 584, ../sass/layout/_grid.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 587, ../sass/layout/_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 590, ../sass/layout/_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 593, ../sass/layout/_grid.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 596, ../sass/layout/_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 599, ../sass/layout/_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 602, ../sass/layout/_grid.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 605, ../sass/layout/_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 608, ../sass/layout/_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 611, ../sass/layout/_grid.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 614, ../sass/layout/_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 617, ../sass/layout/_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 620, ../sass/layout/_grid.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 623, ../sass/layout/_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 626, ../sass/layout/_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 629, ../sass/layout/_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 632, ../sass/layout/_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 635, ../sass/layout/_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 638, ../sass/layout/_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 641, ../sass/layout/_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 644, ../sass/layout/_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 647, ../sass/layout/_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 650, ../sass/layout/_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 653, ../sass/layout/_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 656, ../sass/layout/_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 659, ../sass/layout/_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* line 663, ../sass/layout/_grid.scss */
.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 675, ../sass/layout/_grid.scss */
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* line 681, ../sass/layout/_grid.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 686, ../sass/layout/_grid.scss */
.pull-right {
  float: right !important;
}

/* line 689, ../sass/layout/_grid.scss */
.pull-left {
  float: left !important;
}

/* line 692, ../sass/layout/_grid.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/layout/_base.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 8, ../sass/layout/_base.scss */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* line 13, ../sass/layout/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 34, ../sass/layout/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 38, ../sass/layout/_base.scss */
body {
  line-height: 1;
}

/* line 41, ../sass/layout/_base.scss */
ol, ul {
  list-style: none;
}

/* line 44, ../sass/layout/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../sass/layout/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 52, ../sass/layout/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../sass/layout/_base.scss */
body {
  position: relative;
}

/* line 60, ../sass/layout/_base.scss */
h2 {
  font-family: "Lobster", sans-serif;
}

/* line 64, ../sass/layout/_base.scss */
h3, h1, a {
  font-family: "BebasNeue";
}

/* line 69, ../sass/layout/_base.scss */
h3 {
  color: #a0a0a0;
  font-size: 1.8rem;
}

/* line 74, ../sass/layout/_base.scss */
p {
  font-family: "OpenSansRegular", sans-serif;
}

/* line 78, ../sass/layout/_base.scss */
a, h1, p {
  color: #fff;
}

/* line 81, ../sass/layout/_base.scss */
a {
  cursor: pointer;
}

/* line 85, ../sass/layout/_base.scss */
section {
  background-color: #4ccfc1;
  position: relative;
  min-height: 36px;
  border-bottom: 0 1px 3px rgba(0, 0, 0, 0.08);
  border-top: 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* line 1, ../sass/layout/_header.scss */
header {
  /*padding-left: 20px;
  max-width: 1024px;*/
  background-color: #fff;
  /* background-position: center;*/
  min-height: 82px;
  padding: 21px 21px 21px 0;
}

/*.container-top-header-block{
  padding-top: 28px;
}*/
/* line 13, ../sass/layout/_header.scss */
.left {
  /*padding: 22px 0 0 21px;*/
  color: #3bc3b4;
  font-size: 3.267rem;
}

/* line 19, ../sass/layout/_header.scss */
.center {
  padding-top: 8px;
}
/* line 21, ../sass/layout/_header.scss */
.center .search {
  background-image: url("../images/magnifier.png");
  background-position: right;
  background-repeat: no-repeat;
  /*display: block;*/
  width: 434px;
  min-height: 31px;
  border: 1px solid #e1e1e1;
}
/* line 29, ../sass/layout/_header.scss */
.center .search:focus {
  background-image: none;
}

/* line 35, ../sass/layout/_header.scss */
.right {
  margin-left: 20px;
  padding-top: 5px;
  position: relative;
  /*background-image: url("../images/shape.png");*/
  width: 50px;
  height: 40px;
}
/* line 42, ../sass/layout/_header.scss */
.right h3 {
  padding-left: 50px;
  font-size: 2.2rem;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.right .title:before {
  content: '';
  display: block;
  position: absolute;
  width: 43px;
  height: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -993px;
  background-image: url('/images/icons-s63d3785768.png');
  left: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .right .title:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}

/* line 1, ../sass/layout/_slider.scss */
.slider {
  background-color: #38c7b7;
  min-height: 445px;
}

/* line 5, ../sass/layout/_slider.scss */
.slider-picture {
  padding-left: 60px;
}

/* line 8, ../sass/layout/_slider.scss */
.shirt {
  float: left;
  background-image: url("images/layer.png");
  /*max-width: 280px;*/
  width: 280px;
  height: 350px;
  margin: 50px 0 0 0;
}

/* line 16, ../sass/layout/_slider.scss */
.content {
  margin-left: 100px;
  float: left;
  /*
   margin-top: 81px;
  max-width: 409px;
  height: 260px*/
  /* margin-left: 395px;
   width: 500px;*/
  margin-top: 81px;
  max-width: 395px;
  height: 260px;
}
/* line 28, ../sass/layout/_slider.scss */
.content h1 {
  font-size: 4.067rem;
}
/* line 31, ../sass/layout/_slider.scss */
.content p {
  line-height: 25px;
  margin-top: 24px;
  font-size: 1.133rem;
  font-family: "OpenSansLight", sans-serif;
}
/* line 37, ../sass/layout/_slider.scss */
.content .button {
  margin-top: 20px;
  /*margin-left: 395px;*/
  display: block;
  width: 133px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 8px;
  background-clip: padding-box;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 4px;
}

/* line 55, ../sass/layout/_slider.scss */
.slider .owl-nav {
  display: none;
}

/* line 58, ../sass/layout/_slider.scss */
.slider .owl-dots {
  width: 100px;
  height: 30px;
  /*margin-left: 520px;*/
  /*text-align: center;*/
  margin: 0 auto;
}
/* line 65, ../sass/layout/_slider.scss */
.slider .owl-dots .owl-dot {
  /*text-align: center;*/
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #fff;
}
/* line 75, ../sass/layout/_slider.scss */
.slider .owl-dots .owl-dot.active {
  opacity: .3;
  /*border-radius: 4px / 5px;
  background-clip: padding-box;
  background-color: rgba(255,255,255,.63);*/
}

/* line 1, ../sass/layout/_container.block.scss */
.container-block {
  position: relative;
  background-color: #fff;
  min-height: 215px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.13);
}

/* line 7, ../sass/layout/_container.block.scss */
.content-block-first {
  height: 190px;
  padding-top: 30px;
  position: relative;
  /*&:last-child{
    border-left: 1px solid $grey-border;
  }
  &:first-child{
    border-right: 1px solid $grey-border;
  }*/
}
/* line 17, ../sass/layout/_container.block.scss */
.content-block-first h3 {
  margin-left: 207px;
  margin-top: 40px;
}
/* line 21, ../sass/layout/_container.block.scss */
.content-block-first .product {
  margin-top: 15px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.content-block-first .product:before {
  content: '';
  display: block;
  position: absolute;
  width: 205px;
  height: 142px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -1038px;
  background-image: url('/images/icons-s63d3785768.png');
  left: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .content-block-first .product:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}
/* line 29, ../sass/layout/_container.block.scss */
.content-block-first .product-shorts {
  margin-left: 30px;
  margin-top: 15px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.content-block-first .product-shorts:before {
  content: '';
  display: block;
  position: absolute;
  width: 71px;
  height: 127px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -728px;
  background-image: url('/images/icons-s63d3785768.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .content-block-first .product-shorts:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}

/* line 37, ../sass/layout/_container.block.scss */
.button-product {
  margin-left: 207px;
  display: block;
  width: 59px;
  height: 32px;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #3cc395;
  font-size: 1.267rem;
  text-align: center;
  padding-top: 6px;
  margin-top: 20px;
}

/* line 53, ../sass/layout/_container.block.scss */
.content-block-first-border {
  padding-top: 30px;
  padding-bottom: 36px;
  position: relative;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
/* line 59, ../sass/layout/_container.block.scss */
.content-block-first-border h3 {
  margin-left: 207px;
  margin-top: 40px;
}
/* line 63, ../sass/layout/_container.block.scss */
.content-block-first-border .product-tshirt {
  margin-left: 20px;
  margin-top: 15px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.content-block-first-border .product-tshirt:before {
  content: '';
  display: block;
  position: absolute;
  width: 127px;
  height: 132px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -1310px;
  background-image: url('/images/icons-s63d3785768.png');
  /*left: 0;*/
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .content-block-first-border .product-tshirt:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}

/* line 74, ../sass/layout/_container.block.scss */
.container-block .owl-nav {
  /*text-indent: -9999px;*/
}
/* line 77, ../sass/layout/_container.block.scss */
.container-block .owl-nav .owl-prev {
  position: absolute;
  top: 50px;
  left: -30px;
  font-size: 0px;
  /*float: left;
  margin-top: -145px;
  margin-left: -70px;*/
  background-image: url("images/arrowleft.png");
  width: 29px;
  height: 80px;
}
/* line 89, ../sass/layout/_container.block.scss */
.container-block .owl-nav .owl-next {
  position: absolute;
  top: 50px;
  right: -30px;
  font-size: 0px;
  /*float: right;
  margin-top: -77px;
  margin-left: 1000px;*/
  background-image: url("images/arrowright.png");
  width: 29px;
  height: 80px;
}

/* line 1, ../sass/layout/_featured.products.scss */
.featured-products {
  background-color: #3cc395;
  min-height: 67px;
}
/* line 4, ../sass/layout/_featured.products.scss */
.featured-products .container-feat-product {
  padding: 17px 0 0 62px;
}
/* line 6, ../sass/layout/_featured.products.scss */
.featured-products .container-feat-product h4 {
  font-family: "BebasNeue", sans-serif;
  font-size: 2.2rem;
  color: #fff;
}

/* line 1, ../sass/layout/_content.products.scss */
.content-products {
  background-color: #fff;
  min-height: 690px;
  padding-bottom: 40px;
}

/* line 6, ../sass/layout/_content.products.scss */
.di-products {
  margin-top: 40px;
}

/* line 9, ../sass/layout/_content.products.scss */
.different-products {
  margin-top: 20px;
  margin: 0 auto;
  width: 253px;
  height: 260px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-bottom: 5px solid #3cc395;
}
/* line 17, ../sass/layout/_content.products.scss */
.different-products .icon-product {
  padding: 10px 0 0 25px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.different-products .icon-product:before {
  content: '';
  display: block;
  position: absolute;
  width: 189px;
  height: 120px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -1185px;
  background-image: url('/images/icons-s63d3785768.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .different-products .icon-product:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}
/* line 23, ../sass/layout/_content.products.scss */
.different-products .icon-product1 {
  padding: 10px 0 0 71px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.different-products .icon-product1:before {
  content: '';
  display: block;
  position: absolute;
  width: 116px;
  height: 116px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -607px;
  background-image: url('/images/icons-s63d3785768.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .different-products .icon-product1:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}
/* line 30, ../sass/layout/_content.products.scss */
.different-products .icon-product2 {
  padding: 10px 0 0 71px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.different-products .icon-product2:before {
  content: '';
  display: block;
  position: absolute;
  width: 105px;
  height: 118px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -484px;
  background-image: url('/images/icons-s63d3785768.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .different-products .icon-product2:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}
/* line 36, ../sass/layout/_content.products.scss */
.different-products .icon-product-list {
  padding: 10px 0 0 25px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.different-products .icon-product-list:before {
  content: '';
  display: block;
  position: absolute;
  width: 175px;
  height: 128px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -860px;
  background-image: url('/images/icons-s63d3785768.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .different-products .icon-product-list:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}
/* line 42, ../sass/layout/_content.products.scss */
.different-products .icon-product-list1 {
  padding: 10px 0 0 71px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.different-products .icon-product-list1:before {
  content: '';
  display: block;
  position: absolute;
  width: 137px;
  height: 123px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -356px;
  background-image: url('/images/icons-s63d3785768.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .different-products .icon-product-list1:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}
/* line 48, ../sass/layout/_content.products.scss */
.different-products .icon-product-list2 {
  padding: 10px 0 0 71px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.different-products .icon-product-list2:before {
  content: '';
  display: block;
  position: absolute;
  width: 66px;
  height: 119px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -1447px;
  background-image: url('/images/icons-s63d3785768.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .different-products .icon-product-list2:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sbf90be1521.png');
  }
}
/* line 55, ../sass/layout/_content.products.scss */
.different-products .brand {
  text-align: center;
  padding-top: 145px;
}
/* line 60, ../sass/layout/_content.products.scss */
.different-products .three {
  margin-left: 60px;
  /*display: block;*/
  /*padding-left: 60px;*/
  padding-top: 10px;
}
/* line 65, ../sass/layout/_content.products.scss */
.different-products .three .button-content {
  margin-right: 65px;
  padding-top: 7px;
  float: right;
  display: block;
  width: 74px;
  height: 34px;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #3cc395;
  font-size: 1.267rem;
  text-align: center;
}

/* line 1, ../sass/layout/_section.about.scss */
.section-about {
  background-color: #3cc3b5;
  min-height: 404px;
}

/* line 5, ../sass/layout/_section.about.scss */
.section-content {
  margin: 0 auto;
  padding: 41px 0 0 57px;
}
/* line 8, ../sass/layout/_section.about.scss */
.section-content h4 {
  font-family: "BebasNeue", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
}
/* line 14, ../sass/layout/_section.about.scss */
.section-content .list {
  margin-top: 25px;
}
/* line 16, ../sass/layout/_section.about.scss */
.section-content .list li {
  padding: 15px 0 0 0;
}
/* line 18, ../sass/layout/_section.about.scss */
.section-content .list li p {
  font-size: 1rem;
}

/* line 1, ../sass/layout/_footer.scss */
footer {
  background-color: #2da89b;
  min-height: 46px;
}
/* line 4, ../sass/layout/_footer.scss */
footer .foot {
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 991px) {
  /* line 2, ../sass/layout/_media.scss */
  .right {
    display: none;
  }

  /* line 5, ../sass/layout/_media.scss */
  .left {
    text-align: center;
    height: 35px;
    position: relative;
    /*h3 {
      padding-left: 50px;
      font-size: $fs-large;
    }
    title {
      @include before-absolute {
        @include icons(shape);
        right:0;
      }
    }*/
  }

  /* line 20, ../sass/layout/_media.scss */
  .center {
    text-align: center;
    margin-top: 10px;
  }
  /* line 24, ../sass/layout/_media.scss */
  .center .search {
    width: 550px;
    max-width: 100%;
    height: 31px;
  }

  /*drop-menu*/
  /* line 35, ../sass/layout/_media.scss */
  .menu {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 300px;
    z-index: 9999;
    position: relative;
    min-height: 40px;
    border-radius: 5px;
    border: 2px solid #fff;
  }
  /* line 47, ../sass/layout/_media.scss */
  .menu ul {
    line-height: 35px;
    max-width: 100%;
    width: 300px;
    padding: 5px 0;
    position: absolute;
    top: -2px;
    left: 0px;
    border-radius: 5px;
  }
  /* line 56, ../sass/layout/_media.scss */
  .menu ul:last-child {
    padding-bottom: 0px;
  }
  /* line 59, ../sass/layout/_media.scss */
  .menu ul:first-child {
    padding-top: 0px;
  }
  /* line 62, ../sass/layout/_media.scss */
  .menu ul .git {
    height: 40px;
    display: none;
    margin: 0;
    border-right: none;
  }
  /* line 68, ../sass/layout/_media.scss */
  .menu ul li {
    font-size: 0;
    text-align: center;
  }
  /* line 77, ../sass/layout/_media.scss */
  .menu .drop {
    min-height: 40px;
    display: block;
    border-right: none;
  }
  /* line 82, ../sass/layout/_media.scss */
  .menu ul:hover {
    background-color: #4ccfc1;
    border: 2px solid #fff;
  }
  /* line 86, ../sass/layout/_media.scss */
  .menu ul:hover li {
    display: block;
  }
  /* line 89, ../sass/layout/_media.scss */
  .menu ul:hover .drop {
    background-color: #3cc3b5;
    border-radius: 5px;
  }
  /* line 93, ../sass/layout/_media.scss */
  .menu ul li:hover {
    border-radius: 5px;
    background-color: #3cc3b5;
  }

  /************slider**********/
  /* line 100, ../sass/layout/_media.scss */
  .slider-picture {
    padding-left: 0;
  }
  /* line 102, ../sass/layout/_media.scss */
  .slider-picture .shirt {
    float: left;
    margin: 50px 0 0 0;
  }
  /* line 106, ../sass/layout/_media.scss */
  .slider-picture .content {
    float: right;
    margin-left: 0px;
    margin-top: 81px;
    height: 260px;
  }

  /* line 116, ../sass/layout/_media.scss */
  .section-about {
    padding-bottom: 40px;
  }
}
@media (max-width: 797px) {
  /* line 125, ../sass/layout/_media.scss */
  .content-products .different-products {
    text-align: center;
    width: 100%;
  }
  /* line 128, ../sass/layout/_media.scss */
  .content-products .different-products .icon-product, .content-products .different-products .icon-product1, .content-products .different-products .icon-product2, .content-products .different-products .icon-product-list, .content-products .different-products .icon-product-list1, .content-products .different-products .icon-product-list2 {
    margin: 0 auto;
    width: 150px;
    padding: 0;
  }
  /* line 133, ../sass/layout/_media.scss */
  .content-products .different-products .three {
    width: 145px;
    margin: 0 auto;
    /*margin-left: 0px;*/
    padding-left: 0;
  }
  /* line 138, ../sass/layout/_media.scss */
  .content-products .different-products .three .button-content {
    margin-right: 0;
  }
}
@media (max-width: 790px) {
  /* line 147, ../sass/layout/_media.scss */
  .container-block .content-block-first-border {
    border-right: none;
    border-left: none;
  }
  /* line 152, ../sass/layout/_media.scss */
  .container-block .owl-nav .owl-prev {
    left: -17px;
  }
  /* line 155, ../sass/layout/_media.scss */
  .container-block .owl-nav .owl-next {
    right: -18px;
  }
}
@media (max-width: 734px) {
  /* line 165, ../sass/layout/_media.scss */
  .slider-picture .shirt {
    margin-left: 55px;
    margin-top: 80px;
    background-image: url("../images/title34.png");
    width: 150px;
    height: 200px;
  }
  /* line 173, ../sass/layout/_media.scss */
  .slider-picture .content h1 {
    font-size: 2.2rem;
  }

  /* line 182, ../sass/layout/_media.scss */
  .container-block h3 {
    font-size: 1.133rem;
  }

  /* line 186, ../sass/layout/_media.scss */
  .section-content {
    text-align: center;
    padding: 41px 0 0 57px;
  }

  /*.owl-dots {
    display: none;
  }*/
}
@media (max-width: 658px) {
  /* line 201, ../sass/layout/_media.scss */
  .content p {
    display: none;
  }

  /* line 205, ../sass/layout/_media.scss */
  .section-content {
    text-align: center;
    padding-top: 40px;
    padding-left: 0px;
  }
}
@media (max-width: 599px) {
  /* line 215, ../sass/layout/_media.scss */
  .content-block-first, .content-block-first-border {
    width: 275px;
    margin: 0 auto;
  }

  /* line 222, ../sass/layout/_media.scss */
  .container-block .owl-nav .owl-prev {
    left: -17px;
  }
  /* line 225, ../sass/layout/_media.scss */
  .container-block .owl-nav .owl-next {
    right: -18px;
  }
}
@media (max-width: 448px) {
  /* line 236, ../sass/layout/_media.scss */
  .slider-picture .shirt {
    margin-left: 0;
    margin-top: 95px;
    background-image: url("../images/title34.png");
    width: 150px;
    height: 200px;
  }
  /* line 244, ../sass/layout/_media.scss */
  .slider-picture .content h1 {
    font-size: 1.4rem;
  }
}
/* line 1, ../sass/layout/partials/_menu.scss */
.menu {
  position: relative;
  padding: 7px 0 0 21px;
}
/* line 4, ../sass/layout/partials/_menu.scss */
.menu ul {
  font-size: 0;
}
/* line 7, ../sass/layout/partials/_menu.scss */
.menu ul li {
  display: inline-block;
  font-size: 1.4rem;
  border-right: 2px solid #fff;
}
/* line 12, ../sass/layout/partials/_menu.scss */
.menu ul li:nth-child(10) {
  border-right: none;
}
/* line 15, ../sass/layout/partials/_menu.scss */
.menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 10px;
}

@media all and (max-width: 991px) {
  /* line 2, ../sass/media/_media.scss */
  [class*="col-"] {
    padding: 0 20px;
  }
}
