$bebas-neue:"BebasNeue", sans-serif;
$lobster: "Lobster", sans-serif;
$open-sans-1:"OpenSansLight", sans-serif;
$league-gothic-r: "LeagueGothicRegular", sans-serif;
$open-sans-regular: "OpenSansRegular", sans-serif;

$shadow-black-light: 0 2px 2px rgba(0,0,0,.3);
$shadow-black-medium: 1px 2px 2px rgba(0,0,0,.4);
$shadow-white-hover:  0 0 8px rgba(255,255,255,.8);

///line-height style
$lh-sm: 1.1em;
$lh-md: 1.3em;

//15px
$fs-base: 1rem;
//17px
$fs-title-small: 1.133rem;
//19px
$fs-title-little: 1.267rem;
//21px
$fs-title-middle: 1.4rem;
//27px
$fs-title-extra: 1.8rem;
//33px
$fs-large:2.2rem;
//49px
$fs-middle-large:3.267rem;
//61px
$fs-extra-large:4.067rem;


//15px = 1rem (base)
//17px = 1.133rem
//19px = 1.267rem
//21px = 1.4rem
//27px = 1.8rem
//33px = 2.2rem
//49px = 3.267rem
//61px = 4.067rem